@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Pacifico&display=swap");

html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  min-height: 100vh;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  text-rendering: optimizeLegibility;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(180deg, #000000 0%, #200151 100%);
  background-attachment: fixed;
  text-align: center;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  min-height: 100vh;
}

.msg-div {
  max-width: 95vw;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  padding: 1rem;
}

.rec-content {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  width: 80vw;
  min-height: 1rem;
  border-radius: 10px;
  border-color: #ffffff;
  box-shadow: 0px 6px 10px rgba(143, 183, 196, 0.5);
  background: radial-gradient(rgba(32, 1, 81, 0.7) 0%, rgba(0, 0, 30, 0.5) 60%);
  transition: all 0.5s;
}

.card span {
  font-size: 1rem;
}

.rec-link {
  display: inline-block;
  max-width: 100px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.rec-critic {
  padding-left: 4vw;
  padding-right: 4vw;
}

.mid-section {
  margin: auto;
}

.rec-title {
  padding-top: 1rem;
}

.topic-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
}

.topic-tile {
  padding: 1rem;
  margin: 0.8rem;
  border-radius: 30px;
  background-color: #200151;
}

.highlight {
  background-color: #64e8f1;
  color: #000000;
}

.note {
  padding: 1rem;
}
