@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Pacifico&display=swap");

html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  text-rendering: optimizeLegibility;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
/* .fix {
  position: fixed;
} */
.msg-div {
  max-width: 95vw;
}
a {
  text-decoration: none;
  color: inherit;
}
.app {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.head-greet {
  font-family: Pacifico;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 74px;

  color: rgb(88, 124, 37);
}
.msg-title {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
}
.msg {
  color: #ffffff;

  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: justify;
}

.card {
  margin: 20px;
  padding: 20px;
  width: 80vw;
  min-height: 1rem;
  border-radius: 10px;
  border-color: #ffffff;
  box-shadow: 0px 6px 10px rgba(88, 124, 37, 0.5);
  background: radial-gradient(rgba(32, 1, 81, 0.7) 0%, rgba(0, 0, 30, 0.5) 60%);
  transition: all 0.5s;
}
.card span {
  font-size: 1rem;
}
